{% extends 'confluence_data_retriever/base.html' %}
{% block title %}Freshness Report{% endblock %}
{% block content %}
<table class="styled-table">
    <thead>
        <tr>
            <th>#ID</th>
            <th>Level</th>
            <th>Page</th>
            <th>Creation User</th>
            <th>Last Update User</th>
            <th>Days since Last Update</th>
            <th>Days since Creation</th>
            <th>Creation Date</th>
            <th>Last Update Date</th>
            <th>Labels</th>
        </tr>
    </thead>
    <tbody>
        {% for page in all_pages %}
        <tr bgcolor="{{ page.color }}">
            <td><a target="_blank" href="{{ page.page_link }}">{{ page.id }}</a></td>
            <td>{{ page.page_level }}</td>
            <td>{{ page.page_title }}</td>
            <td>{{ page.create_user }}</td>
            <td>{{ page.last_updated_user }}</td>
            <td>{{ page.days_from_last_update }}</td>
            <td>{{ page.days_from_creation }}</td>
            <td>{{ page.create_date }}</td>
            <td>{{ page.last_updated_date }}</td>
            <td>
                {% for label in page.labels %}
                    <div class="chip">
                        {{ label }}
                    </div>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}